@use 'variables';

mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;

    mat-radio-button {
        margin: 5px;
        white-space: nowrap;
    }

    // &.error {
    //     margin: 5px;
    //     border: solid 1px variables.$error;
    //     border-radius: 5px;
    // }
}
