.w-150 {
    max-width: min(150px, 100%);
}

.w-200 {
    max-width: min(200px, 100%);
}

.w-250 {
    max-width: min(250px, 100%);
}

.w-300 {
    max-width: min(300px, 100%);
}

.w-400 {
    max-width: min(400px, 100%);
}

.w-500 {
    max-width: min(500px, 100%);
}

.w-600 {
    max-width: min(600px, 100%);
}

.w-700 {
    max-width: min(700px, 100%);
}

.w-800 {
    max-width: min(800px, 100%);
}
