<mat-dialog-content>
    <div class="row"
         [formGroup]="roleFormGroup">
        <mat-form-field class="col-12">
            <mat-label>{{'UserRoleDialog.Role' | translate}}</mat-label>
            <mat-select formControlName="userRoleId">
                <ng-container *ngIf="roles$ | async as roles">
                    <mat-option *ngFor="let role of roles"
                                [value]="role.id">{{ 'Lookup.Role.' + role.name | translate }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button
            color="primary"
            mat-dialog-close> {{'Common.Close' | translate}} </button>
    <button mat-raised-button
            color="primary"
            [hhLoading]="isSaveing$ | async"
            (click)="onSaveClick()"> {{'Common.Save' | translate}} </button>
</mat-dialog-actions>