<div class="announcements">
    <ng-container *ngIf="announcements$ | async as page">
        <div class="announcements__list">
            <hh-announcement-tile *ngFor="let announcement of page.items"
                                  [announcement]="announcement">
            </hh-announcement-tile>
        </div>
        <div class="announcements__paginator">
            <hh-paginator [page]="page"
                          (pageChanged)="onPageChanged($event)"></hh-paginator>
        </div>
    </ng-container>
</div>