<div class="multimedia"
     [formGroup]="form">
    <div class="row">
        <mat-form-field class="col w-600">
            <mat-label>{{'ProfileAnnoucementForm.Multimedia.VideoUrl' | translate}}</mat-label>
            <input matInput
                   type="text"
                   formControlName="videoUrl">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col w-600">
            <mat-label>{{'ProfileAnnoucementForm.Multimedia.VirtualWalkUrl' | translate}}</mat-label>
            <input matInput
                   type="text"
                   formControlName="virtualWalkUrl">
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col">
            <hh-photos-uploader [photos]="photos"></hh-photos-uploader>
        </div>
    </div>
</div>