@use 'variables';

.header {
    $self: &;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: variables.$primary-200;
    z-index: 99;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: variables.$header-height;

        #{$self}__logo {
            img {
                max-height: variables.$header-height - 10px;
                cursor: pointer;
            }
        }

        #{$self}__buttons {
            display: flex;
            gap: 20px;

            button.my-account {
                color: whitesmoke;
            }

        }
    }
}
